body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;

  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  background-image: url(munir.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding-left: 15vh;
}

.login {
  background-color: rgba(231, 98, 36, 0.8);

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

form input {
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login .btn {
  background-color: rgba(4, 116, 63, 0.8);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .btn:hover {
  opacity: 0.8;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px;
  cursor: pointer;
}

.social-icons .fa-facebook {
  color: #1723c4;
}

.social-icons .fa-x-twitter {
  color: #4aa6f1;
}

.login p {
  margin-top: 20px;
}

.login a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.login a:hover {
  text-decoration: underline;
}

/* Add a transition effect to all input fields */
form input {
 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Scale up input fields on hover */
form input:hover {
    background-color: #99c417;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Add a pulsing effect to the sign-in button */
.login .btn {
 
  animation: pulse 2s infinite;
  transform-origin: center;
}


/* Keyframes for the pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.);
  }
  100% {
    transform: scale(1);
  }
}

/* Add an animation to social icons on hover */
.social-icons i {
  
  transition: transform 0.5s ease;
}

.social-icons i:hover {
  transform: rotate(360deg);
}

/* Correct the color for the Twitter icon */
.social-icons .fa-twitter {
  color: #4aa6f1;
}


