body {
  margin: 0;
  font-family: "Arial", sans-serif;


min-width: 380px;


}

.container {
  display: flex;
  justify-content: flex-start;

  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  background-image: url(munir.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding-left: 15vh;
}

.login {
  background-color: rgba(186, 64, 7, 0.504);

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

form input {
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login .btn {
  background-color: rgba(4, 116, 63, 0.8);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .btn:hover {
  opacity: 0.8;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px;
  cursor: pointer;
}

.social-icons .fa-facebook {
  color: #1723c4;
}

.social-icons .fa-x-twitter {
  color: #4aa6f1;
}

.login p {
  margin-top: 20px;
}

.login a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.login a:hover {
  text-decoration: underline;
}

form input {
 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


form input:hover {
    background-color: #99c417;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.login .btn {
 
  animation: pulse 2s infinite;
  transform-origin: center;
}


@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.);
  }
  100% {
    transform: scale(1);
  }
}

.social-icons i {
  
  transition: transform 0.5s ease;
}

.social-icons i:hover {
  transform: rotate(360deg);
}

.social-icons .fa-twitter {
  color: #4aa6f1;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5vh;
    background-image: url(flower-8342448_1920.jpg);

    
  }
  .login{
      background-color: rgba(0, 255, 179, 0.248);
  }
 .header{
     background-color: rgba(2, 33, 19, 0.988);
 }
 
}
@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
 .container{
     background-image: url(pexels-hans-martha-1059823.jpg);
 }
 .login{
     background-color: #a3cdea75;
 }
}